<div class="info-backing">
  <h2>Here is a current list of Members</h2>
  <p>These lovely people are helping our wildlife representatives to bring a stronger more dynamic understanding of Central Australian.<br>
   Every member and every donation makes a difference. Thank you for supporting our wild spaces.</p>
<div>
  <p><a class="button" href="/members/new">Click here to join our Society</a></p>
</div>
  <% for member in @members do %>
<div class="form-norm">
  <a href="/members/<%=member.id%>">
    <div class="profile-pic ani-pic" style="background-image: url('<%=member.picture%>');" alt="A picture of <%=member.name%>"></div>
  </a>
  <p>Name:<%=member.name%></p>
  <p><a href="/members/<%=member.id%>">More details</a></p>
</div>
  <% end %>
</div>
