<h2>Here is a list of our current sponsorships</h2>
<div>
  <p><a href="/sponsorships/new">Make a pledge today!</a></p>

  <% for record in @sponsorships do %>
    <div class="form-sheet">
      <p>Pledge number:<%=record.id%></p>
      <p><a href="/members/<%=record.member_id%>"><%=record.sponsor.name.capitalize%></a> is currently sponsoring <a href="/animals/<%=record.animal_id%>"><%=record.sponsored.name.capitalize%></a></p>
      <p><a href="/sponsorships/<%=record.id%>">Click for more details</a></p>
    </div>
  <% end %>
</div>
