<div class="info-backing">
  <div class="form-pledge">
  <div class="profile-pic ani-pic" style="background-image: url('<%=@record.sponsor.picture%>')"></div>
    <div class="pledge-text">
      <p>Pledge number:<%=@record.id%></p>

      <p><a href="/members/<%=@record.member_id%>"><%=@record.sponsor.name.capitalize%></a> is currently sponsoring
        <a href="/animals/<%=@record.animal_id%>"><%=@record.sponsored.name.capitalize%></a>,<br>
         for the value of £<%=@record.value%> per month since <%=@record.date_sponsored%>.</p>
         <br>
      <form action="/sponsorships/<%=@record.id%>/edit" method="GET">
        <input type="submit" value="Edit details"/>
      </form>
      <form action="/sponsorships/<%=@record.id%>/delete" method="POST">
        <input type="submit" value="End pledge"/>
      </form>
    </div>
  <div class="profile-pic ani-pic" style="background-image: url('<%=@record.sponsored.image%>')"></div>
</div>
