<h2>Pledge number:<%=@record.id%></h2>

<p><a href="/members/<%=@record.member_id%>"><%=@record.sponsor.name.capitalize%></a> is currently sponsoring
  <a href="/animals/<%=@record.animal_id%>"><%=@record.sponsored.name.capitalize%></a>,<br>
   for the value of £<%=@record.value%> per month since <%=@record.date_sponsored%>.</p>
   <br>

<form action="/sponsorships/<%=@record.id%>/edit" method="GET">
  <input type="submit" value="Edit details"/>
</form>
<br>
<form action="/sponsorships/<%=@record.id%>/delete" method="POST">
  <input type="submit" value="Abandon hope..."/>
</form>
