<div class="backing-2">
    <h2>Enter the details of your pledge here</h2>
    <div class="form-new">
    <form action="/sponsorships" method="POST">
      <label for="member_name">Member</label>
      <select name="member_id" id="member_name" required>
        <% for member in @members do  %>
        <option value="<%=member.id%>"><%=member.name%></option>
        <% end %>
      </select>
      <br>
      <label for="animal_being_sponsored">Animal</label>
      <select name="animal_id" id="animal_being_sponsored" required>
        <% for animal in @animals do  %>
        <option <%= "selected" if(animal.id == @animal.id) %> value="<%=animal.id%>"><%=animal.name%></option>
        <% end %>
      </select>
      <br>
      <label for="pledge_value">Pledge value</label>
      <p>£<input type="number" name="value" id="pledge_value" required>/month</p>
      <br>
      <label for="sponsorship_start_date">Starting from:</label>
      <input type="date" name="date_sponsored" id="sponsorship_start_date" required value="<%= Date.today.strftime("%Y-%m-%d")%>">
      <input type="submit" value="Submit Pledge"/>
    </form>
  </div>
  <p><a class="button" href="/members/new">Not in the list? Join here.</a></p>
</div>
