<div class="info-backing">
  <h2>Here is a list of our friends from Nature. They work hard every day to help the environment stabilise and grow in its natural abundance,<br>
   and now you too can lend them a hand by sponsoring them to continue their great work!</h2>
<p><a href="/animals/new">Add a new Animal to the list</a></p>

<div class="item-container">
<% for animal in @animals do %>
  <div class="form-norm">
    <a href="/animals/<%=animal.id%>">
      <div class="profile-pic ani-pic" style="background-image: url('<%=animal.image%>')"></div>
    </a>
    <p>Name: <%=animal.name%></p>
    <p>Species: <%=animal.species%></p>
    <p>Status: <%=animal.ecological_status%></p>

    <p><a href="/animals/<%=animal.id%>">More details</a></p>
  </div>
  <% end %>
</div>
</div>
