<h2>Specifics of <%=@animal.name%></h2>
<p>Species: <%=@animal.species%></p>
<p>Status: <%=@animal.ecological_status%></p>
<p>Habitat: <%=@animal.habitat%></p>
<p>First Sighting: <%=@animal.first_sighting%></p>
<br>

<form action="/animals/<%=@animal.id%>/edit" method="GET">
  <input type="submit" value="Edit">
</form>
<br>
<form action="/animals/<%=@animal.id%>/delete" method="POST">
  <input type="submit" value="Delete"/>
</form>

</form>
<hr/>
